<h1>CONTACT US!</h1>

<h2>EMAIL FORM</h2>
<form method="POST" action="/contact">
	<label for="subject">Subject of your email</label>
	<br>
	<textarea name="subject" rows="4" cols="50" placeholder="Email Subject!"></textarea>
	<br>
	<input type="submit">
</form>