<h1>HOME PAGE</h1>

<form method="POST" action="/login" id="login_form">
<input type="text" placeholder="Username" name="username">
<input type="password" placeholder="password" name="password">
<input type="submit"></input>
</form>
