<!DOCTYPE html>
<html>
<head>
	<title>Microblog</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans|Syncopate|Julius+Sans+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="script.js"></script>
	<script src="cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
	</script>
	
</head>
<header>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="signup">Sign Up</a>
		</li>
		<li>
			<a href="contact">Contact</a>
		</li>
		<li>
			<a href="users">Users</a>
		</li>
	</ul>	
</header>
<body>

<%=yield%>

</body>

<footer>
<h1>FOOTER</h1>
</footer>
</html> 